/**
 * Base styles.
 * Provides sensible defaults for everything to save you time. Override
 * with an empty stylesheet to start over from scratch.
 */

/**
 * Tables =============================================================
 */
.devseed table {
  width:100%;
  margin:0px 0px 20px;
  }

.devseed table th,
.devseed table td { vertical-align:middle; }

/**
 * Forms ==============================================================
 */
.devseed input.form-text,
.devseed select,
.devseed textarea { border:1px solid #ccc; }

.devseed input.form-submit,
.devseed label { font-weight:bold; }

.devseed input.form-submit { cursor:pointer; }

.devseed input.form-radio,
.devseed input.form-checkbox { vertical-align:middle; }

.devseed .form-item .description,
.devseed .description {
  color:#666;
  font-size:11px;
  }

.devseed fieldset.collapsible .fieldset-title { cursor:pointer; }
.devseed html.js fieldset.collapsed .fieldset-content { display:none; }

/**
 * Views ==============================================================
 */
.devseed table.grid-2 td { width:50%; }
.devseed table.grid-3 td { width:33.3%; }
.devseed table.grid-4 td { width:25%; }
.devseed table.grid-5 td { width:20%; }
.devseed table.grid-6 td { width:16.6%; }
.devseed table.grid-7 td { width:14.2%; }
.devseed table.grid-8 td { width:12.5%; }

/**
 * Markup free clearing ===============================================
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
.devseed ul.links:after,
.devseed .clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

  /* Exclude inline links from clear-block behavior */
  .devseed ul.inline:after {
    content: "";
    display:none;
    clear:none;
    }

.devseed ul.links,
.devseed .clear-block {
  display: inline-block;
  }

/* Hides from IE-mac \*/
.devseed * html ul.links,
.devseed * html .clear-block {
  height: 1%;
  }

.devseed ul.links,
.devseed .clear-block {
  display: block;
  }
/* End hide from IE-mac */


/**
 * Container styles ===================================================
 */
.devseed div.block,
.devseed div.block div.block-content {
  background:transparent;
  border:0px;
  margin:0px;
  padding:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

.devseed .locationContainer #mapContainer { height: 200px;}
.devseed .locationContainer #map-wrapper {display: none;}
.devseed .locationContainer { height: 335px }
.devseed .locationContainer .map-fieldset {height: 285px}
.devseed #title {width: 500px; margin: 0 auto; height: 25px; line-height: 25px; margin-top: 10px}
.devseed #title p { float: right}
.devseed #address.loading {background-image:url(http://fbi.gov/spinner.gif); background-repeat: no-repeat; background-position: 99% center;}

.devseed .crosshair {z-index: 666; display: none; position: absolute; top: 35px; left: 125px;}
.devseed .left, .devseed .right, .devseed .top, .devseed .bottom {position: relative; background-color: #000; float: left;}
.devseed .left, .devseed .right {height: 10px; width: 60px;}
.devseed .top, .devseed .bottom {height: 60px; width: 10px;}
.devseed .top    {top: 0px; left: 155px;}
.devseed .left   {top: 85px; left: 0px;}
.devseed .right  {top: 85px; left: 180px;}
.devseed .bottom {top: 120px; left: 25px;}

.devseed .column-side .fieldset-title { position: relative; }
.devseed .column-side .fieldset-title a {color: #666674;}

.devseed ul.optionsMenu {
  -webkit-box-shadow: 3px 3px 8px #555;
  -moz-box-shadow: 3px 3px 8px #555;
  box-shadow: 3px 3px 8px #555;
  outline-style: none;
  background: white;
  color: black;
  font-size: 0.85em;
  height: auto;
  left: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  top: -5px;
  max-width: 560px;
  z-index: 666; }
  .devseed ul.optionsMenu {
    margin: 0 5px; padding: 0}
  .devseed ul.optionsMenu * {
    margin: 0;
    padding: 0; }
  .devseed ul.optionsMenu a {
    color: black;
    display: block;
    text-decoration: none; }
  .devseed ul.optionsMenu li {
    border-top: 1px solid #4e647d;
    background: #0A5469;
    height: 29px; }
    .devseed ul.optionsMenu li .menuHover {
      background: #fffee5;
      color: black;
      cursor: default; }
    .devseed ul.optionsMenu li .optionsMenuSelFocus {
      background-position: auto; }
    .devseed ul.optionsMenu li .optionsMenuSelFocus {
      cursor: default; }
    .devseed ul.optionsMenu li a {
      outline-style: none;
      font-weight: lighter;
      font-size: 14px;
      height: 29px;
      line-height: 27px;
      color: white;
      display: block;
      padding-left: 10px; }
      .devseed ul.optionsMenu li a:focus {
        -moz-outline-style: none; }
.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  -moz-box-shadow:#999 0px 0px 3px;
  -webkit-box-shadow:#999 0px 1px 3px;
  }

.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  border:0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

/**
 * Rightbar ===========================================================
 */
.devseed div.sidebar { padding:10px 10px 10px 0px; }

.devseed .page-content #content-wrapper,
.devseed div.page-content div.block,
.devseed div.sidebar div.block,
.devseed #palette .block-toggle {
  background:#f8f8f8;
  margin:0px 0px 10px;
  }

  .devseed .page-content #content-wrapper,
  .devseed div.admin-panel,
  .devseed div.sidebar .block .block-content,
  .devseed div.page-content .block .block-content { padding:10px; }

.devseed div.sidebar div.block-title,
.devseed div.page-content div.block-title {
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  padding:5px 10px 4px;
  border-bottom:1px solid #ddd;
  background:#eee;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  }