/**
 * Base styles.
 * Provides sensible defaults for everything to save you time. Override
 * with an empty stylesheet to start over from scratch.
 */

/**
 * Tables =============================================================
 */
.devseed table {
  width:100%;
  margin:0px 0px 20px;
  }

.devseed table th,
.devseed table td { vertical-align:middle; }

/**
 * Forms ==============================================================
 */
.devseed input.form-text,
.devseed select,
.devseed textarea { border:1px solid #ccc; }

.devseed input.form-submit,
.devseed label { font-weight:bold; }

.devseed input.form-submit { cursor:pointer; }

.devseed input.form-radio,
.devseed input.form-checkbox { vertical-align:middle; }

.devseed .form-item .description,
.devseed .description {
  color:#666;
  font-size:11px;
  }

.devseed fieldset.collapsible .fieldset-title { cursor:pointer; }
.devseed html.js fieldset.collapsed .fieldset-content { display:none; }

/**
 * Views ==============================================================
 */
.devseed table.grid-2 td { width:50%; }
.devseed table.grid-3 td { width:33.3%; }
.devseed table.grid-4 td { width:25%; }
.devseed table.grid-5 td { width:20%; }
.devseed table.grid-6 td { width:16.6%; }
.devseed table.grid-7 td { width:14.2%; }
.devseed table.grid-8 td { width:12.5%; }

/**
 * Markup free clearing ===============================================
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clear-block class into Drupal's markup.
 * From http://www.positioniseverything.net/easyclearing.html
 */
.devseed ul.links:after,
.devseed .clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

  /* Exclude inline links from clear-block behavior */
  .devseed ul.inline:after {
    content: "";
    display:none;
    clear:none;
    }

.devseed ul.links,
.devseed .clear-block {
  display: inline-block;
  }

/* Hides from IE-mac \*/
.devseed * html ul.links,
.devseed * html .clear-block {
  height: 1%;
  }

.devseed ul.links,
.devseed .clear-block {
  display: block;
  }
/* End hide from IE-mac */


/**
 * Container styles ===================================================
 */
.devseed div.block,
.devseed div.block div.block-content {
  background:transparent;
  border:0px;
  margin:0px;
  padding:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

.devseed .locationContainer #mapContainer { height: 200px;}
.devseed .locationContainer #map-wrapper {display: none;}
.devseed .locationContainer { height: 335px }
.devseed .locationContainer .map-fieldset {height: 285px}
.devseed #title {width: 500px; margin: 0 auto; height: 25px; line-height: 25px; margin-top: 10px}
.devseed #title p { float: right}
.devseed #address.loading {background-image:url(http://fbi.gov/spinner.gif); background-repeat: no-repeat; background-position: 99% center;}

.devseed .crosshair {z-index: 666; display: none; position: absolute; top: 35px; left: 125px;}
.devseed .left, .right, .top, .bottom {position: relative; background-color: #000; float: left;}
.devseed .left, .right {height: 10px; width: 60px;}
.devseed .top, .bottom {height: 60px; width: 10px;}
.devseed .top    {top: 0px; left: 155px;}
.devseed .left   {top: 85px; left: 0px;}
.devseed .right  {top: 85px; left: 180px;}
.devseed .bottom {top: 120px; left: 25px;}

.devseed .column-side .fieldset-title { position: relative; }
.devseed .column-side .fieldset-title a {color: #666674;}

.devseed ul.optionsMenu {
  -webkit-box-shadow: 3px 3px 8px #555;
  -moz-box-shadow: 3px 3px 8px #555;
  box-shadow: 3px 3px 8px #555;
  outline-style: none;
  background: white;
  color: black;
  font-size: 0.85em;
  height: auto;
  left: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  top: -5px;
  max-width: 560px;
  z-index: 666; }
  .devseed ul.optionsMenu {
    margin: 0 5px; padding: 0}
  .devseed ul.optionsMenu * {
    margin: 0;
    padding: 0; }
  .devseed ul.optionsMenu a {
    color: black;
    display: block;
    text-decoration: none; }
  .devseed ul.optionsMenu li {
    border-top: 1px solid #4e647d;
    background: #0A5469;
    height: 29px; }
    .devseed ul.optionsMenu li .menuHover {
      background: #fffee5;
      color: black;
      cursor: default; }
    .devseed ul.optionsMenu li .optionsMenuSelFocus {
      background-position: auto; }
    .devseed ul.optionsMenu li .optionsMenuSelFocus {
      cursor: default; }
    .devseed ul.optionsMenu li a {
      outline-style: none;
      font-weight: lighter;
      font-size: 14px;
      height: 29px;
      line-height: 27px;
      color: white;
      display: block;
      padding-left: 10px; }
      .devseed ul.optionsMenu li a:focus {
        -moz-outline-style: none; }
.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  -moz-box-shadow:#999 0px 0px 3px;
  -webkit-box-shadow:#999 0px 1px 3px;
  }

.devseed .sidebar .block,
.devseed .page-content .node,
.devseed .page-content div.block,
.devseed .page-content div.pager,
.devseed .page-content div.view-empty,
.devseed .page-content .view-content .item-list,
.devseed .page-content .view-content table,
.devseed .page-content #content-wrapper {
  border:0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

/**
 * Main layout ========================================================
 */
#left {
  float:left;
  width:25%;
  background:url(images/halftone.png) 0% 100% repeat-x;
  padding-bottom:60px;
  }

#canvas {
  float:left;
  width:74.99%;
  min-height:400px;
  }


#right {
  float:right;
  width:34.99%;
  }

#main div.page-content { padding:10px; }

/* Map layout */
body.views-mode-map #left {
  overflow:auto;
  position:fixed;
  top:60px;
  left:0px;
  bottom:0px;
  }

  body.views-mode-map.with-header #left { top:80px; }

  body.views-mode-map div.navbar {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    }

body.views-mode-map #main div.page-content { padding:0px; }

/**
 * Branding & Navigation ==============================================
 */
#branding a { color:#fff; }

#branding {
  height:50px;
  line-height:50px;
  padding:5px 20px;

  overflow:hidden;
  background:#222 url(images/sprite.png) 0px -540px repeat-x;
  }

h1.site-name { float:left; }

  h1.site-name a {
    display:block;
    font-size:24px;
    font-weight:300;
    letter-spacing:-1px;
    }

  h1.site-name a.logo {
    height:50px;
    width:300px;
    overflow:hidden;
    text-indent:-999px;

    background-repeat:no-repeat;
    background-position:0% 50%;
    }

#branding div.site-slogan {
  line-height:30px;
  height:30px;
  padding:15px 10px 0px;
  float:left;
  }

#branding div.admin-link {
  line-height:30px;
  height:30px;
  padding:10px 20px 10px 0px;
  float:left;
  }

  #branding div.admin-link a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    font-size:9px;
    text-transform:uppercase;
    padding:0px 5px 0px 30px;
    display:block;
    background:#444 url(images/sprite.png) -370px -210px no-repeat;
    }

#branding ul.links {
  padding:10px 0px;
  line-height:30px;
  height:30px;
  float:right;
  }

#branding ul.links a {
  -moz-border-radius:20px;
  -webkit-border-radius:20px;

  padding:0px 15px;
  font-weight:bold;
  font-size:18px;
  letter-spacing:-1px;
  display:block;
  }

  #branding ul.links a:hover {
    background:#444;
    color:#fff;
    }

  #branding ul.links li.active a,
  #branding ul.links li a.active {
    background:#fff;
    color:#222;
    }

/**
 * Header =============================================================
 */
#header {
  background:#666;
  font-size:85%;
  line-height:85%;
  }

#header .block-region {
  color:#eee;
  }

#header .block-content {
  float:left;
  }

#header a {
  color:#eee;
  font-weight:normal;
  }

#header .block {
  float:left;
  }

  #header .block .block-title {
    background:transparent;
    float:left;
    padding: 5px 9px;
    }

#header .block ul.menu li {
  border:none;
  float:left;
  }

/**
 * Help, MN share =====================================================
 */
div.help-link {
  padding:10px 0px;
  line-height:30px;
  height:30px;
  width:30px;
  float:right;
  }

div.help-link a {
  -moz-border-radius:15px;
  -webkit-border-radius:15px;

  text-align:center;
  background:#444;
  display:block;
  width:30px;
  height:30px;
  }

#help,
div.simpleshare-popup {
  font-size:18px;
  line-height:30px;
  font-weight:300;

  color:#fff;
  background:url(images/black90.png);
  }

  #help a,
  div.simpleshare-popup a { color:#fff; }

#help {
  display:none;

  position:fixed;
  top:60px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:1000;
  }

#help div.help-close {
  float:right;
  padding:20px 20px 0px 0px;
  }

  #help div.help-close a {
    background:#222;
    font-size:13px;
    display:block;
    padding:0px 10px;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    }

    #help div.help-close a:hover { background:#eee; color:#222; }

#help div.help-title {
  padding:20px 20px 0px;
  font-size:24px;
  font-weight:bold;
  letter-spacing:-1px;
  }

#help span.icon { display:none; }

#help div.help-content { padding:20px; }

#help div.help-wrapper {
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;

  background:url(images/black90.png);
  position:absolute;

  width:60%;
  margin-left:-30%;
  left:50%;
  bottom:0px;
  }

div.help-content p,
div.help-content ul { margin:0px 0px 20px; }

div.help-content ul {
  padding-left:20px;
  list-style:square;
  }

body.help { padding-top:60px; }

body.help #branding {
  position:fixed;
  left:0px;
  top:0px;
  right:0px;
  z-index:1000;
  }

body.help #branding a.help-link {
  background:#ace;
  color:#468;
  }

body.help #help { display:block; }

/* MN share */
div.simpleshare-popup ul.links { margin:10px 0px 0px; }

div.simpleshare-popup ul.links a {
  -moz-border-radius:15px;
  -webkit-border-radius:15px;

  background:#222;
  padding:0px 15px;
  margin-right:10px;
  }

div.simpleshare-popup span.close {
  cursor:pointer;
  float:right;

  padding:0px;
  width:20px;
  height:20px;
  display:block;

  overflow:hidden;
  text-indent:-999px;
  top:20px;
  right:20px;

  background:url(images/sprite.png) -40px 0px no-repeat;
  }

/**
 * Progress bar =======================================================
 */
.progress .bar {
  border:1px solid #666;
  }
.progress .filled {
  background:none repeat scroll 0 0 #666;
  }

/**
 * Footer =============================================================
 */
#footer {
  font-size:11px;
  clear:both;
  padding:90px 20px 10px;
  }

/**
 * Palette =============================================================
 */
#palette {
  padding:5px;
  height:30px;

  color:#ccc;
  position:fixed;
  bottom:0px;
  right:20px;
  z-index:1000;

  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  background:url(images/black90.png);
  }

#palette a { color:#fff; }

#palette * { border-color:#111; }

#palette div.block {
  background:transparent;
  float:left;
  margin:0px;
  position:relative;
  }

#palette div.widget { padding:0px 5px; }

#palette .block-title {
  display:block;
  width:auto;
  padding:0px 5px 0px 30px;
  margin-right:5px;
  line-height:30px;
  height:30px;

  font-size:11px;
  color:#fff;
  cursor:pointer;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  background-color:#222;
  background-image:url(images/sprite.png);
  background-repeat:no-repeat;
  background-position:30px 30px;
  }

  #palette .block-title a:hover { background-color:#222; }

  #palette .palette-active .block-title {
    background-color:#fff;
    color:#222;
    }

  #palette #block-data_node-feeds_data_syndication .block-title { background-position:-370px 0px; }

  #palette #block-mn_core-user .block-title,
  #palette #block-user-0 .block-title { background-position:-370px -240px; }

  #palette #block-spaces_dashboard-editor .block-title { background-position:-370px -390px; }
  #palette #block-mn_widgets-embed .block-title { background-position:-370px -300px; }

#palette .block-toggle .block-content {
  position:absolute;
  bottom:25px;
  left:50%;
  width:240px;
  padding:10px 10px 25px;
  margin:0px 0px 0px -130px;
  display:none;
  background:url(images/palette.png) 50% 100% no-repeat;
  }

  #palette .block-mn_widgets .block-content {
    width:300px;
    margin-left:-160px;
    }

#palette .buttons {
  text-align:center;
  }

#palette input.form-submit {
  color:#fff;
  background:#222;
  }

  #palette input#edit-cancel {
    display:none;
    }

/* Sitewide clock */
#palette #block-mn_core-clock {
  font-size:11px;
  line-height:15px;
  }

#palette #block-mn_core-clock * { display:block; }
#palette #block-mn_core-clock small { font-size:9px; }

/**
 * Dashboard ==========================================================
 */
body.context-editing div.draggable:hover a.context-block-handle {
  right:auto;
  left:-5px;
  }

body.context-editing div.draggable:hover a.context-block-remove {
  right:auto;
  left:35px;
  }

#palette form.context-editor div.buttons {
  display:block;
  background:transparent;
  border:0px;
  padding:0;
  }

#palette div.context-editor-block-layouts div.form-item {
  display:inline;
  padding:0px;
  }

#palette form.context-editor div.item-list {
  display:none;
  }

#palette div.context-block-browser {
  padding: 5px;
  }

/**
 * Titles of various sorts ============================================
 */
#page-header { z-index:1; }

#page-title {
  background:#e8e8e8 url(images/sprite.png) 0px -500px repeat-x;
  }

h2.page-title,
div.views-exposed-form {
  background:#e8e8e8 url(images/sprite.png) 0px -500px repeat-x;

  padding:4px 20px;
  border-top:1px solid #fff;
  border-bottom:1px solid #ddd;

  line-height:30px;
  height:30px;
  }

h2.node-title,
h2.page-title {
  line-height:30px;
  font-size:18px;
  font-weight:bold;
  letter-spacing:-1px;
  }

  h2.page-title {
    height:30px;
    overflow:hidden;
    white-space:nowrap;
    }

div.navbar div.block-title {
  font-size:18px;
  font-weight:bold;
  letter-spacing:-1px;
  color:#222;

  line-height:30px;
  padding:4px 20px;

  background:#f8f8f8 url(images/sprite.png) 0px -500px repeat-x;
  border-top:1px solid #fff;
  border-bottom:1px solid #e8e8e8;
  }

/**
 * Tabs ===============================================================
 */
div.tabs ul.links {
  background:#e8e8e8;
  border-bottom:1px solid #ddd;
  padding:5px 20px 4px;
  }

div.tabs ul.links a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  color:#999;
  font-size:11px;
  padding:0px 10px;
  }

div.tabs ul.links li.active a,
div.tabs ul.links li a.active {
  color:#fff;
  background:#444;
  }

div.tabs ul.links a:hover {
  background:#fff;
  color:#666;
  }

/**
 * Tagging UI.
 */
.feeditem-labels {
  position:relative;
  font-size:11px;
  background:#f8f8f8;
  padding:5px 100px 0;
  }

.feeditem-labels div.data-taxonomy-tags {
  min-height:25px;
  height:25px;
  overflow:hidden;
  }

.feeditem-labels label {
  color:#999;
  font-size:11px;
  position:absolute;
  left:10px;
  }

div.data-taxonomy-form,
div.data-taxonomy-form .form-item,
div.data-taxonomy-tags,
div.data-taxonomy-tags ul li,
div.data-taxonomy-tags a {
  padding:0px;
  border:0px;
  margin:0px;
  }

  div.data-taxonomy-tags ul.data-taxonomy-tags li,
  div.data-taxonomy-tags ul.data-taxonomy-tags li a { float:left; }

  div.data-taxonomy-tags ul.data-taxonomy-tags li a {
    padding:0px 5px;
    margin:0 0 2px 2px;
    }

div.data-taxonomy-form .form-item { display:inline; }

div.data-taxonomy-form input.form-text {
  padding:0px;
  border-width:0px;
  }

.data-taxonomy-editing .data-taxonomy-form {
  margin-bottom:5px;
  }

div.data-taxonomy-form input.form-submit,
div.data-taxonomy-tags a.data-taxonomy-edit {
  position:absolute;
  right:5px;
  top:5px;
  }

  div.data-taxonomy-tags a.data-taxonomy-edit {
    text-indent:-999px;
    overflow:hidden;
    width:20px;
    height:20px;
    background:url(images/sprite.png) no-repeat;
    }

  div.data-taxonomy-form input.form-submit {
    border:0px;
    background:transparent;
    color:#666;
    font-weight:bold;
    padding:0px 3px;
    margin-top:-1px;
    font-size:11px;
    }

/**
 * Sidebar lists ======================================================
 */
div.navbar,
div.sidebar {
  position:relative;
  font-size:11px;
  }

div.page-content div.block {
  font-size:11px;
  }

div.navbar {
  background:#f8f8f8;
  min-height:40px;
  }

  body.views-mode-map div.navbar { background:#f8f8f8; }

  div.navbar div.block { background:#f8f8f8; }

div.navbar ul li {
  padding:0px;
  border:0px;
  position:relative;
  }

  /* Last child is split out because IE7 will ignore the *entire* selector */
  div.navbar ul li:last-child {
    padding:0px;
    border:0px;
    position:relative;
    }

div.navbar li a {
  display:block;
  padding:5px 5px 4px 20px;
  border-bottom:1px solid #e8e8e8;
  color:#666;
  overflow:hidden;
  white-space:nowrap;
  }

div.navbar ul.menu li a.active,
div.navbar div.item-list li a.active {
  background:#fff;
  color:#222;
  }

/* Menu trees */
div.navbar ul.menu ul li a { padding-left: 30px; }
div.navbar ul.menu ul ul li a { padding-left: 50px; }
div.navbar ul.menu ul ul ul li a { padding-left: 60px; }
div.navbar ul.menu ul ul ul ul li a { padding-left: 70px; }

div.navbar div.utility-links {
  background:url(images/mask.png) 0% 0% repeat-y;
  position:absolute;
  height:20px;
  padding:5px 5px 4px;
  right:0px;
  top:0px;
  }

div.navbar div.utility-links div,
div.navbar div.utility-links a {
  border:0px;
  padding:0px;
  width:20px;
  height:20px;
  float:left;
  }

  div.navbar div.utility-links a {
    visibility:hidden;
    opacity:.5;
    text-indent:-9999px;
    overflow:hidden;
    }

  /* Hover states */
  div.navbar li:hover div.utility-links { background:#fff; }
  div.navbar li:hover div.utility-links a { visibility:visible; }
  div.navbar div.utility-links a:hover { opacity:1; }

  div.navbar div.utility-links div.views-field-edit-node a { background:url(images/sprite.png) no-repeat; }
  div.navbar div.utility-links div.views-field-link-delete a,
  div.navbar div.utility-links div.views-field-delete-node a { background:url(images/sprite.png) -20px 0px no-repeat; }

/**
 * Context links ======================================================
 */
div.navbar div.context-links {
  padding:10px 10px 0px 0px;
  float:right;
  }

div.navbar div.context-links a {
  float:left;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background:#ddd;
  padding:0px 10px;
  }

div.navbar div.context-links a:hover { background:#fff; }

/**
 * Rightbar ===========================================================
 */
div.sidebar { padding:10px 10px 10px 0px; }

.page-content #content-wrapper,
div.page-content div.block,
div.sidebar div.block,
#palette .block-toggle {
  background:#f8f8f8;
  margin:0px 0px 10px;
  }

  .page-content #content-wrapper,
  div.admin-panel,
  div.sidebar .block .block-content,
  div.page-content .block .block-content { padding:10px; }

div.sidebar div.block-title,
div.page-content div.block-title {
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  padding:5px 10px 4px;
  border-bottom:1px solid #ddd;
  background:#eee;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  }

/**
 * Special blocks & forms =============================================
 */
#canvas div.utility-block {
  border-left-color:#bcd;
  border-bottom-color:#bcd;
  }

#canvas div.utility-block div.block-title {
  background:#ace;
  color:#fff;
  }

#canvas div.utility-block {
  padding:10px;
  background:#cde;
  color:#468;
  }

#page-title div.utility-block {
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  padding:5px 20px 4px;
  border-width:0px 0px 1px;
  border-style:solid;
  }

div.utility-block div.form-item label { color:#468; }

#palette div.form-item,
div.utility-block div.form-item {
  background:transparent;
  border:0px;
  padding:0px;
  margin:0px 0px 10px;
  }

div.utility-block input.form-submit {
  background:#69c;
  color:#fff;
  }

#stored-views-form input.form-submit {
  margin-right:10px;
  float:left;
  }

div.utility-block input.form-text { width:50%; }

input#edit-search { width:120px; max-width:120px; }

ul.data-taxonomy-tags { margin: 0px;}

form input#edit-delete-1 { color:#ccc; }

