@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OstrichBlack';
    src: url('fonts/ostrich-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OstrichBold';
    src: url('fonts/ostrich-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.cities {position: relative; min-height: 450px}
.cities.fullscreen {position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px}
.cities.fullscreen .fullscreen {background-image: url('images/fullscreen_exit.png');}
.cities #header{position:absolute;top:0px;left:0px;right:0px;height:50px}
.cities #wrapper{position:absolute;top:50px;left:0px;right:0px;bottom:0px;border:0 #C0CCCA solid; border-right-width:1px; border-bottom-width: 1px; border-left-width: 1px}
.cities #left{position:absolute;top:0px;bottom:0px;left:0px;width:300px;overflow-y:auto}
.cities #right{position:absolute;top:0px;bottom:0px;right:0px;left:300px;overflow-y:auto}
.cities .mapContainer{width:100%; height: 100%; background-color: #F0FFFD}
.cities .topbar{position:relative;height:30px;width:100%;background-color:#1A1A1A;}
.cities .showbar{position:relative;height:50px;width:100%;background-color:#1F86A1;}
.cities .fullscreen {background-image: url('images/fullscreen.png'); position: absolute; right: 15px; top: 15px; width: 16px; height: 16px; opacity: 0.5}
.cities .fullscreen:hover {opacity: 1; cursor:pointer; cursor:hand}
.cities .sidebar{height:100%;width:299px;background-color:#F0FFFD;position:relative;border-right:1px solid #C0CCCA;}
.cities .sidebar .title{font-family:"Geneva";font-size:18px;line-height:22px;width: 240px; max-height: 44px; overflow: hidden}
.cities .sidebar .timestamp{opacity:0.3;font-family:"Geneva";font-size:10px;line-height:16px;width: 240px}
.cities .sidebar .edit{opacity:0.3;font-family:"Geneva";font-size:10px;line-height:18px;padding-left:12px;background-image:url('images/edit.png');background-position:0 4px;background-repeat:no-repeat;}
.cities .sidebar .close{position:absolute;right:10px;top:15px;width:16px;height:16px;opacity:0.2;background-image:url('images/close.png');}
.cities .sidebar .close:hover,.sidebar .edit:hover{opacity:1;}
.cities .sidebar .top{height:37px;background-image:url('images/sidebar-bg.png');background-repeat:repeat-x;border-bottom:1px solid #E1EEEC;padding:16px;}
.cities .sidebar .bottom{padding:10px 16px; width: 265px; position: absolute; top: 70px; bottom: 0px; overflow-x: hidden}
.cities .sidebar p{font-family:"Geneva";font-size:11px;line-height:12px;padding-bottom:10px;color:#252525;}
.cities .blue{color:#d5f3ff;font-family:"Geneva";font-size:13px;line-height:30px;padding:0 0 0 18px;}
.cities .red{color:#B43D54;}
.cities .green{color:#42A360;}
.cities .white{color:#FFF;float:left;font-size:14px;margin:0;padding:0 1px 0 9px;}
.cities .separator{color:#FFF;}
.cities .lightest_gray{color:#636363;font-family:"Geneva";font-size:13px;}
.cities .light_gray{color:#959595;font-family:"Geneva";font-size:13px;}
.cities .gray{color:#c2c2c2;font-family:"Geneva";font-size:13px;}
.cities .yellow{color:#fff799;font-family:"Geneva";font-size:14px;}

a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table{margin-bottom:17px}
body{min-width:960px}.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 
.grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}
.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}
.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}
.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}
.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
/*  HTML5 ✰ Boilerplate  */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body {*font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #e2e9f3; color:#444; text-shadow: none; }
::selection { background:#e2e9f3; color:#444; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #e2e9f3; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited {color:#08C;text-decoration:none;}
a:hover {text-decoration:underline;}
/**
* Primary. Andrew Gleave – Red Robot Studios 2011
*/
h1, h2, h3, h4, h5 {color:#1F86A1;}
h1.elh {line-height:28px}
h2.logo_title {position: relative; margin: 20px 0px 10px 0px; float: left;color: #000; font-family: 'OstrichBlack', Helvetica, Arial, sans-serif; font-size: 60px; font-weight: bold; line-height: 40px; padding: 0px 0px 0px 0px;}
h2.pinstripe {font-family: 'OstrichBold', Helvetica, Arial, sans-serif;}
em {font-style:italic}
body {background:#fff url('images/body_bg.png') scroll repeat-x 0 0;font:13px/17px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;color:#333}
#main_content {min-height:500px}
#header_content, #main_content, #footer_content {width:960px;margin:0 auto;}
#logo {width:320px;height:55px;background:transparent url('images/logo.png') scroll no-repeat 0 0;display:block;text-indent:-999em;margin:10px 0;}
#header_nav {margin-bottom:17px;position:relative;}
#main_nav li {float:left;margin-right:17px;font-size:16px;}
#main_nav li a {color:#495b5b;}
#main_nav li a:hover {color:#888;text-decoration:none;}
#main_nav li.current a {border-bottom:4px solid #19B3CD;}
#submit_report_bt:hover {background-position:0 -177px;}
#submit_report_bt:active {background-position:0 -87px;}
div.cta {width:100%;height:416px;position:relative;margin-bottom:37px}
div.cta div.info {position:absolute;top:60px;left:20px;background-color:#FBFAF7;padding:20px}
div.cta div.info h1, div.cta div.info h2 {font:18px/26px "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans", "Times New Roman", serif;color:#0A3D57;font-weight:600}
div.cta div.info h2 {font-size:16px;line-height:17px;font-weight:300}
a.cta {display:block;background-color:#1F86A1;padding:10px 20px;color:#fff;font-size:20px;text-decoration:none;text-align:center;}
a.cta:hover {background-color:#19B3CD;}
#page_footer {background-color:#1F86A1;min-height:250px;}
#footer_highlight {height:9px;background:transparent url('images/footer_hl.png') scroll repeat-x 0 0;padding-bottom:34px;}
#container {margin:0;width:auto;}
#content_wrapper {padding:17px 0 34px 0;}
#content_wrapper.npt {padding-top:0}
#content_wrapper h3, #content_wrapper h4, #content_wrapper h5 {margin:34px 0 17px 0;}
#footer_content p {color:#E3EDDA;font-size:12px;}
#footer_content a {color:#AFDE41}
#footer_content h4 {color:#FFF;}
#footer_nav {padding:10px 0 20px 0;border-top:1px solid #1F86A1;width:100%;}
#footer_quick_nav {float:right;}
#footer_quick_nav li {float:left;margin-left:10px;font-size:11px;}
#footer_quick_nav a {color:#fff;}
#management_banner {height:32px;background:transparent url('images/management_banner_bg.png') scroll repeat-x 0 0;text-align:center;line-height:32px;color:#fff;text-shadow:0 -1px 0 #495b5b;}
#management_banner a.so {color:#fff;text-decoration:underline;padding-left:10px;}
ul.baseline {margin:0}
ul.baseline li {list-style:none;margin-bottom:17px;}
ul.tool_list img {display:block}
ul.tool_list p.info {color:#888;padding-top:5px}
/* Generic */
h5.empty {text-align:center;color:#ccc}
h5.intro {line-height:22px;font-size:15px;}
h5.intro.a {color:#999}
ul.tabs,ul.tabs li {margin:0;float:left;list-style:none}
ul.tabs li a, ul.tabs li strong {padding:10px 8px;display:block;border:1px solid #f1f1f1;margin:0 8px;border-bottom:none;}
ul.tabs li strong {background-color:#f1f1f1;color:#444;text-shadow:0 -1px 0 #f7f7f7}
p.fact {color:#999;font-size:20px;font-style:italic;font-family:times,'times new roman', serif;line-height:22px;padding:8px 0}
.hl_g {color:#81C240}
.hl_o, ul.hl_o li {color:#C44337;}
.sm_t {font-size:12px}
.errorlist, .errorlist li {margin:0;list-style:none;color:#993524;}
.rounded_12 {border-radius:12px;-webkit-border-radius:12px;-mozilla-border-radius:12px;}
.rounded_6 {border-radius:6px;-webkit-border-radius:6px;-mozilla-border-radius:6px;}
.initial_hide {display:none;}
.api_info_box {padding:10px;background-color:#f5f5f5;border:1px solid #D3D3D3;color:#444;font-size:12px;margin-bottom:17px}
.api_info_box pre {margin-bottom:0;display:block;overflow:auto;padding:0}
.mt_34 {margin-top:34px;}
.mb_34 {margin-bottom:34px;}
.pad_tb {padding:30px 0;}
.mtb_17 {margin:17px 0}
.nmb {margin-bottom:0}
.light {color:#738383}
ul.no_ml {margin-left:0}
ul.no_ml li {margin-left:0;}
.icon_list {margin:34px 0}
.icon_list li {padding-left:25px;list-style:none;background:transparent url('images/sm_leaf_icon.png') scroll no-repeat center left;margin-bottom:17px;color:#454545}
ul.marker_top_title li {background-position:0 2px;}
.em {font-style:italic;font-weight:600}
.strong {font-weight:600}
.block {display:block;}
.placeholder {color:#aaa !important;}
.fr {float:right !important}
input:-moz-placeholder,textarea:-moz-placeholder {color:#aaa;}
.centered_block {display:block;margin-left:auto;margin-right:auto;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix {zoom:1;}
/* Media */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.dropdown_filter {
  font-family: "Geneva";
  font-size: 14px;
  text-decoration: none;
  line-height: 27px;
  padding: 0px 0px 0px 1px;
  line-height: 50px;
  height: 50px;
  float: left;
  }
  .dropdown_filter .show_me {
    color: #FFF;
    float: left;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0 1px 0 18px; }
  .dropdown_filter select {
    width: 100px; 
    line-height: 50px;
    }
  .dropdown_filter .menuContainer {
    background: #0A5469 url('images/dropdown.png') no-repeat scroll 141px 3.5px;
    color: black;
    float: left;
    height: 26px;
    margin: 12px 0px 0px 9px;
    padding: 0px;
    width: 169px;
    outline-style: none; }
    .dropdown_filter .menuContainer .selected {
      font-family: "Geneva";
      font-size: 12px;
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-weight: 200;
      height: 29px;
      line-height: 27px;
      padding: 0 23px 0 0;
      margin-left: 10px;
      opacity: 1; }
    .dropdown_filter .menuContainer div {
      display: block;
      padding: 0px 0px 0px 9px;
      text-align: left !important;
      width: 149px; }
    .dropdown_filter .menuContainer ul.menu {
      -webkit-box-shadow: 3px 3px 8px #555;
      -moz-box-shadow: 3px 3px 8px #555;
      box-shadow: 3px 3px 8px #555;
      outline-style: none;
      background: white;
      color: black;
      font-size: 0.85em;
      height: auto;
      left: 0;
      list-style: none;
      overflow: hidden;
      position: absolute;
      text-align: left;
      top: 25px;
      width: 169px;
      z-index: 666; }
      .dropdown_filter .menuContainer ul.menu {
        margin: 0; padding: 0}
      .dropdown_filter .menuContainer ul.menu * {
        margin: 0;
        padding: 0; }
      .dropdown_filter .menuContainer ul.menu a {
        color: black;
        display: block;
        text-decoration: none; }
      .dropdown_filter .menuContainer ul.menu li {
        border-top: 1px solid #4e647d;
        background: #0A5469;
        height: 29px; }
        .dropdown_filter .menuContainer ul.menu li .menuHover {
          background: #fffee5;
          color: black;
          cursor: default; }
        .dropdown_filter .menuContainer ul.menu li .menuOptionTitle {
          font-weight: bold; }
          .dropdown_filter .menuContainer ul.menu li .menuOptionTitle li {
            border-left: 1px solid #cccccc;
            font-weight: normal; }
          .dropdown_filter .menuContainer ul.menu li .menuOptionTitle ul {
            margin: 3px 0 0; }
        .dropdown_filter .menuContainer ul.menu li .menuSelFocus {
          background-position: auto; }
        .dropdown_filter .menuContainer ul.menu li .menuSelFocus {
          cursor: default; }
        .dropdown_filter .menuContainer ul.menu li a {
          outline-style: none;
          font-weight: lighter;
          font-size: 14px;
          height: 29px;
          line-height: 27px;
          color: white;
          display: block;
          padding-left: 10px; }
          .dropdown_filter .menuContainer ul.menu li a:focus {
            -moz-outline-style: none; }
      .dropdown_filter .menuContainer ul.menu .hiLite {
        color: white; }
        .dropdown_filter .menuContainer ul.menu .hiLite a {
          background: #650101;
          color: white;
          font-size: 14px; }

          dl {
          	float: left;
          	width: 100%;
          	margin: 1em 0;
          	padding: 0;
          }

          dt {
          	clear: left;
          	float: left;
          	margin: 0;
          	padding: 5px;
          	font-weight: bold;
          }

          dd {
          	float: left;
          	margin: 0;
          	padding: 5px;
          }