body {
  overflow: hidden;
  background-color: #f4f4f4;
  font-family: georgia;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.loading {
  background-image: url("../images/ajax-loader.gif");
  background-position: 5px right;
  background-repeat: no-repeat;
}
.topbar {
  background-color: #252525;
  border-top: 1px solid #313131;
}

path, circle {
  stroke: #000;
}

.map_container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
  
svg.map {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.map_header {
  position:absolute;
  left: 10px;
  bottom: 10px;
  width: 200px;
  padding-right: 35px;
}

.date {
  position: absolute;
  bottom: 35px;
  margin: 10px 0 10px 1%;
}

.loading {
  background-image: url("../images/ajax-loader.gif");
  background-position: 7px right;
  background-repeat: no-repeat;
}

.gencalls {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}

.slider {
  position: absolute !important;
  bottom: 60px;
  margin: 0 0 10px 1%;
  width: 79%;
}

a {
  font-family: Helvetica, Arial, sans-serif;
  color: #111111;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.blue {
  color: #d5f3ff;
  font-family: "Geneva";
  font-size: 13px;
  padding: 0px 0px 0px 18px;
  line-height: 30px;
}

.red {color: #B43D54;}
.green {color: #42A360;}

.white {
  color: #FFFFFF;
  float: left;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  padding: 0 1px 0 9px;
}

.separator {
  color: #FFFFFF;
}


.lightest_gray {
  color: #636363;
  font-family: "Geneva";
  font-size: 13px;
}

.light_gray {
  color: #959595;
  font-family: "Geneva";
  font-size: 13px;
}

.gray {
  color: #c2c2c2;
  font-family: "Geneva";
  font-size: 13px;
}

.yellow {
  color: #fff799;
  font-family: "Geneva";
  font-size: 14px;
}


/*POLYMAPS*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #E5E0D9;
}

svg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#copy {
  position: absolute;
  left: 0;
  bottom: 4px;
  padding-left: 5px;
  font: 9px sans-serif;
  color: #fff;
  cursor: default;
}

#copy a {
  color: #fff;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}
#dialog ul {
  list-style-type: none;
  padding: 0px;
  font-size: 12px;
  font-family: georgia;
}

.maptip h2{min-height:14px;font-size:14px;background:#e0e0e0 -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#cfcfcf));background:#e0e0e0 -moz-linear-gradient(top,#e0e0e0,#cfcfcf);-moz-box-shadow:inset 0 1px -1px #fff;-webkit-box-shadow:inset 0 -1px 1px rgba(255,255,255,0.3);box-shadow:inset 0 -2px 1px rbga(255,255,255,0.4);border-bottom:1px solid #bbb;padding:5px;position:relative;}.maptip h2 span.badge{font-size:16px;}.maptip h2 a{color:#333;}
.maptip span.close{font-family:sans-serif;top:5px;right:5px;position:absolute;font-weight:normal;color:rgba(100,100,100,0.7);cursor:pointer;}
.maptip span.close:hover{color:rgba(100,100,100,0.9);}.maptip p{overflow: auto;padding:5px;line-height:1.2em;font-size:11px;}.maptip span.date{display:block;color:#999;margin-top:5px;}.nub{border-bottom:0;height:0;width:0;position:absolute;border-top:6px solid transparent;border-right:6px solid rgba(20,20,20,0.5);border-bottom:6px solid transparent;left:-6px;top:24px;}.maptip.bsc,.maptip.sc,.maptip.max{background:rgba(0,0,0,0.8);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:rgba(200,200,200,0.8);}.maptip.bsc .maptip-cnt,.maptip.sc .maptip-cnt,.maptip.max .maptip-cnt{background:transparent;}.maptip.bsc span.close,.maptip.sc span.close,.maptip.max span.close{color:rgba(150,150,150,0.9);}.maptip.bsc span.close:hover,.maptip.sc span.close:hover,.maptip.max span.close:hover{color:rgba(190,190,190,0.9);}.maptip span.type{text-transform:uppercase;color:rgba(255,255,255,0.8);}.maptip.bsc div.nub,.maptip.sc div.nub,.maptip.max div.nub{border-bottom:0;height:0;width:0;position:absolute;border-top:5px solid transparent;border-right:5px solid rgba(0,0,0,0.8);border-bottom:5px solid transparent;left:-5px;top:6px;}
div.maptip{background:rgba(20,20,20,0.5);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;z-index:99999;}div.maptip-cnt{margin:5px;width:200px;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.maptip dl {
	float: left;
	width: 100%;
	padding: 0;
}

.maptip dt {
	clear: left;
	float: left;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

.maptip dd {
	float: left;
	margin: 0;
	padding: 5px;
}
